/.dart_tool/
/.idea/
/build/
/.vscode/
!/pubspec.lock
!/.packages
!/.flutter-plugins-dependencies
!/.flutter-plugins
.git.zip
.git
/web/
/android/app/google-services.json
/android/app/src/google-services .json
/ios/firebase_app_id_file.json  
/lib/firebase_options.dart