<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448940245812-4pfcrdlvu6s29lk27e18114t0d33ouli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448940245812-4pfcrdlvu6s29lk27e18114t0d33ouli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448940245812-hqr5nsm6m4kjqiska1hqsjjiirflarad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpLvQxwF4wOBEprTviu-o9aNi9kWMAFio</string>
	<key>GCM_SENDER_ID</key>
	<string>448940245812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopsie.app</string>
	<key>PROJECT_ID</key>
	<string>medusa-64504</string>
	<key>STORAGE_BUCKET</key>
	<string>medusa-64504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448940245812:ios:ab0721e8685df8525c1b61</string>
</dict>
</plist>